<div class="container">

  <kd-loading [loading]=loading>
    <button mat-mini-fab class='copy-button' color="primary" (click)="copyStandUp()">Copy</button>
    <button mat-mini-fab class='copy-button-bottom' color="primary" (click)="copyStandUp()">Copy</button>

    <mat-accordion>
      <mat-expansion-panel [expanded]=true class='border'>
        <mat-expansion-panel-header class='border'>
          <mat-panel-title>
            <h3>Modified Since {{yesterday | amDateFormat:'LL'}}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class='pt-3'>
          <span *ngFor="let card of standUp?.yesterdayWork" (click)="toggleCard($event, card)">
            <kp-ch-card [card]=card></kp-ch-card>
          </span>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class='border'>
        <mat-expansion-panel-header class='border'>
          <mat-panel-title>
            <h3>In Dev</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class='pt-3'>
          <span *ngFor="let card of standUp?.inDevCards" (click)="toggleCard($event, card)">
            <kp-ch-card [card]=card></kp-ch-card>
          </span>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class='border'>
        <mat-expansion-panel-header class='border'>
          <mat-panel-title>
            <h3>Ready For Dev</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class='pt-3'>
          <span *ngFor="let card of standUp?.readyForDevCards"  (click)="toggleCard($event, card)">
            <kp-ch-card [card]=card></kp-ch-card>
          </span>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class='border' *ngFor="let sprintCards of standUp?.iterationGroups | keyvalue">
        <mat-expansion-panel-header class='border'>
          <mat-panel-title>
            <h3>{{sprintCards.key}}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class='pt-3'>
          <span *ngFor="let card of sprintCards.value" (click)="toggleCard($event, card)">
            <kp-ch-card [card]=card></kp-ch-card>
          </span>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class='border'>
        <mat-expansion-panel-header class='border'>
          <mat-panel-title>
            <h3>Frontend Backlog</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class='pt-3'>
          <span *ngFor="let card of standUp?.frontEndBacklog" (click)="toggleCard($event, card)">
            <kp-ch-card [card]=card></kp-ch-card>
          </span>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class='border'>
        <mat-expansion-panel-header class='border'>
          <mat-panel-title>
            <h3>Backend</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class='pt-3'>
          <span *ngFor="let card of standUp?.backendCards" (click)="toggleCard($event, card)">
            <kp-ch-card [card]=card></kp-ch-card>
          </span>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel class='border'>
        <mat-expansion-panel-header class='border'>
          <mat-panel-title>
            <h3>Rest of My Work</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class='pt-3'>
          <span *ngFor="let card of standUp?.restOfMyWork" (click)="toggleCard($event, card)">
            <kp-ch-card [card]=card></kp-ch-card>
          </span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <form class="stand-up-form mt-3 border">
      <mat-form-field class="full-width">
        <textarea matInput name='standUpText' rows=20 [(ngModel)]="standUpText"></textarea>
      </mat-form-field>
    </form>
  </kd-loading>

  
</div>