<mat-toolbar color="primary" class='nav-bar-shadow'>
    <span class='logo'>Facundia</span>

    <div class='ml-4'>
        <a [routerLink]="['/clubhouse/login']">
            <button mat-button color='accent'>
                <span>Clubhouse Login</span>
            </button>
        </a>
        <a [routerLink]="['/clubhouse']">
            <button mat-button color='accent'>
                <span>Clubhouse</span>
            </button>
        </a>

        <a [routerLink]="['/toggl']">
            <button mat-button color='accent'>
                <span>Toggl</span>
            </button>
        </a>
    </div>
    
</mat-toolbar>