.card-info {
	display: flex;
	justify-content: space-between;

	.card-info-details {
		div {
			margin-top: 5px;
		}
	}

	.mat-chip-list {
		.mat-standard-chip {
			height: inherit;
			text-align: center;
		}
	}
}
